<div class="pagecontent">
    <app-top-nav></app-top-nav>

    <div class="alliances">
        <table>
            <tr>
                <th><a routerLink="/paragons">Paragons</a></th>
                <th><a routerLink="/radicals">Radicals</a></th>
                <th><a routerLink="/collaborators">Collaborators</a></th>
                <th><a routerLink="/invaders">Invaders</a></th>
                <th><a routerLink="/devourers">Devourers</a></th>
                <th><a routerLink="/fiends">Fiends</a></th>
            </tr>
            <tr>
                <td>
                    <div>
                        <img class="factionLogo" src="{{GuardLogo}}" alt="G.U.A.R.D. Logo">
                        <img class="factionLogo" src="{{ECLogo}}" alt="Elemental Champions Logo">
                        <img class="factionLogo" src="{{DrakkenLogo}}" alt="Drakken Armada Logo">
                        <img class="factionLogo" src="{{FGLogo}}" alt="Frist Guardians Logo">
                    </div>
                </td>
                <td>
                    <div>
                        <img class="factionLogo" src="{{MunkeyLogo}}" alt="Empire of the Apes Logo">
                        <img class="factionLogo" src="{{DinoLogo}}" alt="Terrasaur Logo">
                        <img class="factionLogo" src="{{FishLogo}}" alt="Triton Logo">
                        <img class="factionLogo" src="{{VegeLogo}}" alt="Vegetyrants Logo">
                    </div>
                </td>
                <td>
                    <div>
                        <img class="factionLogo" src="{{SSSLogo}}" alt="Shadow Sun Syndicate Logo">
                        <img class="factionLogo" src="{{LegionLogo}}" alt="Legion of Mutates Logo">
                        <img class="factionLogo" src="{{EcoTerrorLogo}}" alt="Green Fury Logo">
                    </div>
                </td>
                <td>
                    <div>
                        <img class="factionLogo" src="{{UCILogo}}" alt="Uber Corp International Logo">
                        <img class="factionLogo" src="{{MartianLogo}}" alt="Martian Menace Logo">
                        <img class="factionLogo" src="{{CommieLogo}}" alt="Zerkalo Bloc Logo">
                        <img class="factionLogo" src="{{M8DLogo}}" alt="Masters of the 8th Dimension Logo">
                    </div>
                </td>
                <td>
                    <div>
                        <img class="factionLogo" src="{{PELogo}}" alt="Planet Eaters Logo">
                        <img class="factionLogo" src="{{NecroLogo}}" alt="Necroscourge Logo">
                        <img class="factionLogo" src="{{BugLogo}}" alt="Savage Swarm Logo">
                        <img class="factionLogo" src="{{WasteLogo}}" alt="Waste Logo">
                    </div>
                </td>
                <td>
                    <div>
                        <img class="factionLogo" src="{{CthulLogo}}" alt="Lords of Cthul Logo">
                        <img class="factionLogo" src="{{MoleLogo}}" alt="Mole Logo">
                        <img class="factionLogo" src="{{AOLogo}}" alt="Ancient Logo">
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
