<app-top-nav></app-top-nav>

<div>
    <div>
        <h1 class="title">Fiends</h1>
    </div>
    <div>
        <div>
            Available Factions
            <br>
            Lords of Cthul
            <br>
            Ancient Ones
            <br>
            Subterran Uprising
            <br>
        </div>
        <div class="flavorText">
            G.U.A.R.D. Field Report 1356. Subject: Eldritch Breaches.
            <br>
            The [REDACTED] have created another dimensional breach in [REDACTED]. Strangely, it seems that Subterrans are emerging from the breach, implying a degree of cooperation between these Fiendish entities. Doubtless, this spells the end for [LONGER REDACTED SEGMENT]
            <br>
            Hail the mighty Ulgoth! ULGANG FOREVER! ULG--
            <br>
            Field Report filed with Counter-Hyperintelligence Bureau. Operative referred to [REDACTED]
        </div>
        <div>
            <h2 class="title">Global Perks</h2>
            <div>
                <h3>New World Order</h3>
                After players have placed all available buildings, you may select any building on the board. You may swap all buildings (including the building selected) within 5 spaces of the selected building.
                <div class="flavorText">
                    What? You thought you knew how this city was laid out? No. No, no, no. What you THOUGHT this city looked like? That’s just an illusion, and illusion that we let you THINK was real. Now that we’re in it, though, I suppose it can’t hurt to peel back the curtain, just a little. As a consolation prize for your demise.
                </div>
            </div>
            <div>
                <h3>Inexhaustible</h3>
                Once per turn during your Monster Activation, you may reduce the cost of any Action performed by one Action Die.
                <br>
                <div class="flavorText">
                    Resistance is futile. There is nothing that can stop Them. They are coming. And when They arrive, They will not be restricted in the ways we are. What takes us tremendous effort, They will do trivially. It will be to Them as walking is to us.
                </div>
            </div>
            
            <h2 class="title">Territory Perks</h2>
            <div>
                <h2 class="title">[Tier 1]</h2>
                <div>
                    <h3>Suffocating Grasp</h3>
                    All allied monsters gain Constrictor
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;Constrictor: While adjacent to this model, enemy monsters cannot step. An enemy monster that begins an advance or rampage power attack adjacent to this model must spend one Action Die.
                    <br>
                    <div class="flavorText">
                        “You thought you were going straight? That’s funny. It must be hard to see in all this smoke with all one of your visual senses, you pathetic excuse for a dominant species. No, you’ve moved directly into my cybernetically-enhanced clutches, you utter fool.“
                    </div>
                </div>
                
                <h2 class="title">[Tier 2]</h2>
                <div>
                    <h3>Dimensional Flattening</h3>
                    All unsecured buildings lose all non-Actions.
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;Example: A Power Plant would lose the Incombustible, Electric Node, and Blast Radius abilities.
                    <br>
                    <div class="flavorText">
                        These “buildings” you have in this dimension are all so complicated! Wouldn’t it be easier if they were all just...the same? Doesn’t that feel nicer? Except the ones we have, of course. Because we know what they’re supposed to be. Hm? That’s not fair? Well, of course it’s fair. Everything’s the same! You people make no sense to me.
                    </div>
                </div>
                
                <h2 class="title">[Tier 3]</h2>
                <div>
                    <h3>Contagious Corruption</h3>
                    All enemy monsters gain Action: Redline
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;Action: Redline: After an Action this model performs is resolved, it suffers 1 damage point.
                    <br>
                    <div class="flavorText">
                        Cities controlled by [REDACTED] become toxic to human presence. Performing Special Operations becomes untenable, as critical systems begin to suffer from [REDACTED]. Air filtration seems most affected. Crews complain of [LONGER REDACTED SEGMENT]. Priority 1 recommendation: target occupied cities with [LONGER REDACTED SEGMENT]. . 
                        <br>
                        Handler’s Note: Operative succumbed to unknown illness 47 hours following completion of report.
                    </div>
                </div>    
                <h2 class="title">Desperation Perks</h2>
                <div>
                    <h3>Eldritch Superposition</h3>
                    Once per turn during your Monster Activation, you may choose two available attack types on one of your monsters. Swap all abilities and Attack Stats from one attack type with another on your monster card.
                    <br>
                    <div class="flavorText">
                        You should see the look on your face. “You can’t do that?” Ha! Hilarious. Of course I can. This is my show. You thought I was LOSING? No, my friend. This was always the plan. Doesn’t make sense? Tough. Oh, wait, when I do that to you, you die? That’s embarrassing for you.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









