<div class="pagecontent">
    <app-top-nav></app-top-nav>

    <div class="devourers">
        <div>
            <h1 class="title">Devourers</h1>
        </div>
        <div>
            <div>
                Available Factions
                <br>
                Planet Eaters
                <br>
                Necroscourge
                <br>
                Savage Swarm
                <br>
                The Waste
                <br>
            </div>
            <div class="flavorText">
                There are things that want to eat you, that can eat you, and that will eat you if they get the chance. They will eat you, they will eat the ground you walk on, they will eat the buildings you live in. They will eat your friends, your family, your car. They will eat your enemies too, but do not mistake this for assistance. They eat because they are hungry, and they care not what fills their stomachs. They are Devourers.
            </div>
            <div>
                <h2 class="title">Global Perks</h2>
                <div>
                    <h3>Breach the Surface</h3>
                    All 2-Cost units gain Beachhead
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;Beachhead: If this model is holding an objective space, once during each of your Spawn Phases, you can spawn a Faction unit adjacent to this model instead of using one of your spawn points.
                    <div class="flavorText">
                        Where the powerful eat, the weak will soon be there to fight over the scraps. This is as true in Earthly ecosystems as it is in the Monsterpocalypse. When occupying prime nesting territory, their more brutal Devourers facilitate the spawning of minor broods.
                    </div>
                </div>
                <div>
                    <h3>Persistent Nesting</h3>
                    Once per turn, reduce the cost of an allied unit spawned from a Neutral Spawn Point by 1. A unit’s cost can be reduced to a minimum of 0.
                    <br>
                    <div class="flavorText">
                        Hidden in plain sight are entryways that link the surface world to the underground nests of the ravenous Devourer swarm. Teeming with dormant organisms, they await for the feeding call. Breaching the surface at a moment’s notice when sufficiently agitated, the streets of major cities run rampant with insectoid and parasitic horrors that seek to stake claim on all organic material.
                    </div>
                </div>
                
                <h2 class="title">Territory Perks</h2>
                <div>
                    <h2 class="title">[Tier 1]</h2>
                    <div>
                        <h3>Caustic Disgorge</h3>
                        All units gain Power Hitter
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;Power Hitter: This model can spend one Power Die when participating in an attack. If it does, the attack does not generate any Power Dice.
                        <br>
                        <div class="flavorText">
                            The livelihood of all swarm organisms balances between two key objectives; feeding and surviving. Although feeding is the preferable state of being for these entities, an obstinate foe may force them to employ several survival techniques. One such technique is the combative application of acidic excretions. Derived from their gullets or skin itself, creatures can deliver this horrifying concoction in varying forms. From coated talons to regurgitated bio-projectiles, even the toughest armor stands little chance withstanding its corrosive effects. Frighteningly effective, they can only employ this technique at the cost of their recent meal.
                        </div>
                    </div>
                    <div>
                        <h3>Feeding Grounds</h3>
                        All secured buildings gain Discount
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;Discount: Once per turn, if you are securing one or more buildings with Discount and spawn a unit, reduce its Cost by 1.
                        <br>
                        <div class="flavorText">
                            Whenever these monstrosities eat, they leave holes; and quite big ones at that. These holes can be used to travel through the city more effectively, reducing the resources necessary to bring their horrors to bear.
                        </div>
                    </div>
                    
                    <h2 class="title">[Tier 2]</h2>
                    <div>
                        <h3>Strength In Numbers</h3>
                        All monsters gain Hivemind on both Alpha & Hyper forms
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;Hivemind: This model gains +1 Boost Die on attacks for each other allied Faction unit within two spaces of this model.
                        <br>
                        <div class="flavorText">
                            Guided by what seems to be an unseen influence, Paragon forces have reported experiencing a strange presence in the midst of a gathering horde. The mindless patterns typically observed by these organisms shift into seemingly coordinated efforts that leave defenders woefully unprepared. The largest of these Devourer entities seem to be empowered by the gatherings of their lesser kin, striking with renewed vigor and intensity.
                        </div>
                    </div>
                    
                    <h2 class="title">[Tier 3]</h2>
                    <div>
                        <h3>Gluttonous Appetite</h3>
                        All monsters gain Action: Sacrifice in their Hyper form
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;Action: Sacrifice: During your Monster Activation, this model can spend one Action Die to perform a Sacrifice action. Destroy one adjacent allied unit to restore one point of health to this monster.
                        <br>
                        <div class="flavorText">
                            Relentless firepower and calculated strikes seek to fell the gluttonous giants at the head of the Devourer force. In the midst of their carnage, these entities appear indifferent to the damage they are sustaining. However, the vacuous assaults may suddenly cease as they redirect their attention to their own forces; instead, plucking them from the streets below and swallowing them whole. In only a few moments, the otherwise fatal wounds inflicted by confident adversaries disappear in front of their very eyes. Proving their opposition’s effort futile, the lumbering creature will resume its destruction; leaving onlookers dumbfounded and horrified.
                        </div>
                    </div>    
                    <h2 class="title">Desperation Perks</h2>
                    <div>
                        <h3>Gregarious Plague</h3>
                        All monsters & units gain Fury on their attacks
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;Fury: If this attack hits, you gain one Power Die.
                        <br>
                        <div class="flavorText">
                            Each passing moment, the insatiable need to consume spurs the horde to experience unprecedented levels of rage. This ravenous nature of the swarm drives them to desperation as sustenance continuously dwindles. Gargantuan entities will lead assaults against regions with any observable resources, going to any length to acquire and subsequently consume them. Each felled building and devoured victim fuels the behemoth’s tantrum. Following in the destructive wake of their monstrous kin, the lesser entities experience the same fury and destructive compulsions. Scurrying on the city streets below, these creatures hurl themselves at potential prey with no regard to their own wellbeing.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

