<div class="pagecontent">
    <app-top-nav></app-top-nav>

    <div>
        <p>
            Alliance replaces agenda.
        </p>
        <p>
            All monsters and uints must come from the same alliance.  Buildings are still neutral.
        </p>
        <p>
            Select your alliance.  You get the global perks and tier perks based on the number of cities controlled.
        </p>
        <p>
            Consult the map.  Alliances have different tiers of bonuses based on the number of cities the alliance controls.  For each city you get the tier bonus for that many cities and lower (down to one).  Tiers max out at 3.
        </p>
        <p>
            If an alliance controls no cities, then they get the despiration (tier 0) skills.  This is the only way to get the tier 0 skills
        </p>
        <p>
            <a routerLink="/basic-rules">Basic tier skills</a> (Good for learning)
            <br/>
            <a routerLink="/alliances">Advanced tier skills</a> (Reccomended if you already know Monpoc well)
        </p>
        <p>
            <a routerLink="/map">Map</a>
        </p>
    </div>
</div>