<div class="pagecontent">
    <app-top-nav></app-top-nav>

    <div class="collaborators">
        <div>
            <h1 class="title">Collaborators</h1>
        </div>
        <div>
            <div>
                Available Factions
                <br>
                Shadow Sun Syndicate
                <br>
                Legion of Mutates
                <br>
                Green Fury
                <br>
            </div>
            <div class="flavorText">
                Although not a single one would admit it to the others’ faces, the truth of the matter is that the Shadow Sun Syndicate, Legion of Mutates, and Green Fury all use variations on the same serum to grow their fighters to impossible sizes. The befuddling camaraderie of these Collaborators lies not in the selfless act of protection, nor in self-defense, but in self-interest. Each organization wants any edge it can get in whatever cause it has chosen to champion, and should they make strange bedfellows, that too is merely a means to an end...
            </div>
            <div>
                <h2 class="title">Global Perks</h2>
                <div>
                    <h3>Serum capsules</h3>
                    All allied 1-Cost models gain Cargo. Additionally, models with Action: Transport treat all models with Cargo as allied faction models.
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;Cargo: This unit is cargo.
                    <div class="flavorText">
                        If you can’t make your transports bigger, make your cargo smaller! Smuggled onto the battlefield in nondescript crates, the infantry of the Collaborators can spring into action at a moment’s notice, usually from the back of sleek hover-vehicles with familiar logos...
                    </div>
                </div>
                <div>
                    <h3>Lead By Example</h3>
                    Allied units with Commander lose this ability and gain the Lead By Example special ability.
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;Lead By Example: Allied grunt units within two spaces of this unit gain +1 Boost Die when participating in brawl or blast attacks.
                    <br>
                    <div class="flavorText">
                        On the battlefields of the Monsterpocalypse, rigid command structures collapse in moments. A good fighter is a good fighter, regardless of their equipment, and the Collaborators authorize anyone with the right clearance to take charge in moments of crisis.
                    </div>
                </div>
                
                <h2 class="title">Territory Perks</h2>
                <div>
                    <h2 class="title">[Tier 1]</h2>
                    <div>
                        <h3>Metabolic Rush</h3>
                        All allied monsters without an Action in their Alpha Form gain Action: Sprint
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;Action: Sprint: During this model’s activation, this model can spend one Action Die to perform a Sprint action. Advance this model up to three spaces, even if it has already advanced this turn.
                        <br>
                        <div class="flavorText">
                            Some of the Collaborators are technical or tactical geniuses. Others are giant, radioactive corgis. Those whose skills are more generalized are given an additional dose of the serum, which can provide them with the boost necessary to cross the battlefield in the blink of an eye.
                        </div>
                    </div>
                    
                    <h2 class="title">[Tier 2]</h2>
                    <div>
                        <h3>Sucker Punch</h3>
                        All monsters gain Hit & Run on their Blast, Brawl, and Power attacks.
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;Hit & Run: If this model hits a target model with this attack, immediately after the attack is resolved advance this model up to three spaces even if this model has already advanced this turn.
                        <br>
                        <div class="flavorText">
                            If discretion is the better part of valor, then the Collaborators prove to be valorous in the extreme as they slip away just as soon as they strike. Some might call these guerilla tactics cowardly, but with such overwhelming public support, these accusations never stick for long.
                        </div>
                    </div>
                    
                    <h2 class="title">[Tier 3]</h2>
                    <div>
                        <h3>Homefield Advantage</h3>
                        During your unit and monster turns, allied models that begin an advance within two spaces of a building gain +1 SPD.
                        <br>
                        <div class="flavorText">
                            And so it came to pass that in every building in every city was a small piece of wiring, connecting it to every other building in every other city. And this network had one purpose: to provide a never-ending flow of perfect information to the Collaborators regarding the terrain of their chosen battlefields. Buildings became as roads, and roads as highways, but only for those who knew the way…
                        </div>
                    </div>    
                    <h2 class="title">Desperation Perks</h2>
                    <div>
                        <h3>Hybrid Doctrine</h3>
                        All allied units and monsters count as Faction models when resolving special rules & abilities.
                        <br>
                        <div class="flavorText">
                            Strange times make for strange bedfellows, and desperate times call for the erasing of artificial boundaries between the strange bedfellows made during strange times. Reduced to a fraction of their former power, the Collaborators are forced to work intimately together in a way that goes beyond the facade of convenience they employ.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

