<div class="pagecontent">
    <app-top-nav></app-top-nav>

    <div class="paragons">
        <div>
            <h1 class="title">Paragons</h1>
        </div>
        <div>
            <div>
                Available Factions
                <br>
                G.U.A.R.D.
                <br>
                Elemental Champions
                <br>
                Draken Armada
                <br>
                First Guardians
                <br>
            </div>
            <div class="flavorText">
                Brought together by a will to protect the people of Earth, not just themselves or the planet, the Paragons are a formal association between the G.U.A.R.D., Elemental Champions, and Drakken Armada. Whether through martial prowess, elemental power, or draconic majesty, these Paragons have made it their mission to preserve life as we know it, city-destroying monsters or not.
            </div>
            <div>
                <h2 class="title">Global Perks</h2>
                <div>
                    <h3>Integrated Targeting</h3>
                    All allied models gain Precision Strike on Blast attacks.
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;Precision Strike: You can reroll one Action Die on this attack.
                    <div class="flavorText">
                        Formal intelligence sharing, and a deliberate integration of both magic and technology into the target acquisition process, means that these protectors can strike with unparalleled precision.
                    </div>
                </div>
                <div>
                    <h3>Hearts & Minds</h3>
                    All allied units gain Against All Odds.
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;Against All Odds: When checking if a building adjacent to this model is secured, you may ignore one enemy model.
                    <div class="flavorText">
                        It turns out it’s a lot easier to control territory when you actually want to help the people who live there. Paragon troops often find common civilians fending off the odd house-sized alien on their behalf, making it easier for them to take ground.
                    </div>
                </div>
                
                <h2 class="title">Territory Perks</h2>
                <div>
                    <h2 class="title">[Tier 1]</h2>
                    <div>
                        <h3>Emergency Response</h3>
                        At the start of your Unit Activation, you may select a debris tile on the board. If the tile is a hazard tile, flip the hazard tile to the rubble side.
                        <br>
                        <div class="flavorText">
                            The first step the Paragons take when establishing order in a new city is putting out the fires. Literally. The necessary scuffle to reclaim the city rarely occurs without collateral damage, and there’s no better show of goodwill than cleaning up your own mess.
                        </div>
                    </div>
                    
                    <h2 class="title">[Tier 2]</h2>
                    <div>
                        <h3>Beacon of Hope</h3>
                        Buildings secured by allied models gain Opportunity
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;Opportunity: If you are securing this building, you can use each Action twice during each of your turns. However, each of your models can still perform only one Action each activation.
                        <br>
                        <div class="flavorText">
                            As more and more cities are reclaimed by those who would see them thrive, the morale of their troops begins to swell, and they find themselves redoubling even the most complex of efforts in order to keep their momentum.
                        </div>
                        <h3>Get Off Our Planet!</h3>
                        Buildings secured by allied models gain Security Building
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;Security Building: If you are securing this building, allied units adjacent to this building gain +1 Boost Die when participating in brawl or blast attacks.
                        <div class="flavorText">
                            Just as the morale of the troops improves, so too does that of the average citizen. Seeing that the horrors that beset them can be beaten, they join the fight with whatever arms they can bring to bear, providing supporting fire from the relative safety of structures
                        </div>
                    </div>
                    
                    <h2 class="title">[Tier 3]</h2>
                    <div>
                        <h3>Line In The Sand</h3>
                        Allied monsters without Air Superiority gain Defender
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;Defender: Enemy models do not roll Boost Dice when making attacks targeting buildings and allied units without Defender that are adjacent to this model.
                        <br>
                        <div class="flavorText">
                            A campaign of reclamation becomes a campaign of defense when the Paragons are at their best. The colossal protectors of the people can bring massive force-field generators to bear, which allow them to provide the cities in their care with an extra blanket of protection.
                        </div>
                        <br>
                        <h3>Enhanced Focusing Crystals</h3>
                        Allied monsters gain Penetrator on Blast attacks
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;Penetrator: When resolving this attack, the target model suffers -1 DEF, to a minimum of 1.
                        <br>
                        <div class="flavorText">
                            At long last, the cohesion of these disparate forces reaches the culmination of its potential. The best in human, superhuman, and dragon armaments combine to create ranged attacks that tear through even the most advanced or incomprehensible enemy armor.
                        </div>
                    </div>
                    
                    <h2 class="title">Desperation Perks</h2>
                    <div>
                        <h3>The Eleventh Hour</h3>
                        All elite units gain Quorum
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;Quorum: This model counts as two models when checking if a building is secured.
                        <br>
                        <div class="flavorText">
                            Forced to spread their resources thin, the ground forces of the Paragons hold what ground they can with as few forces as they can manage. Operations which once required dozens of troops in the field must make do with only a single squad.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

