<div class="pagecontent">
    <app-top-nav></app-top-nav>

    <div class="radicals">
        <div>
            <h1 class="title">Radicals</h1>
        </div>
        <div>
            <div>
                Available Factions
                <br>
                Empire of The Apes
                <br>
                Terrasaurs
                <br>
                Tritons
                <br>
                Vegetyrants
                <br>
            </div>
            <div class="flavorText">
                The Earth is alive. Most would consider an adage like this a mere metaphor, but few can contest the surprising coordination and brutal effectiveness of the colossal beasts that have risen to defend the Earth. Dubbed “Radicals” by the Paragon alliance for their reckless destructiveness, these behemoths fight to protect the planet they call home. The “cities” being squabbled over merely make for convenient stomping grounds.
            </div>
            <div>
                <h2 class="title">Global Perks</h2>
                <div>
                    <h3>Force of Nature</h3>
                    All units gain Press On on Brawl attacks.
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;Press On: If this model hits a target model with this attack, immediately after the attack is resolved advance this model up to one space, even if this model has already advanced this turn.
                    <div class="flavorText">
                        Creatures hailing from both land and sea move forward with unstoppable momentum; the destruction of their adversaries driving their advance ever forward. Whether driven by instinct or the command of their larger brethren, none can resist the might of the Earth’s chosen protectors.
                    </div>
                </div>
                <div>
                    <h3>Disaster Zone</h3>
                    After monsters have been deployed, you may choose a building occupying a green foundation and replace that building with a debris tile (treat this as if the building were destroyed). You may do this up to three times prior to starting the game.
                    <br>
                    <div class="flavorText">
                        The lands and seas themselves split and fracture underneath the impressive forms of Earth’s ancient defenders. The cities of humankind are no different; the looming approach of Radical monsters shake the very foundations of civilization. Megastructures thought impregnable crumble like a house of cards, heralding the return of nature’s dominance.
                    </div>
                </div>
                
                <h2 class="title">Territory Perks</h2>
                <div>
                    <h2 class="title">[Tier 1]</h2>
                    <div>
                        <h3>Primal Bellows</h3>
                        All monsters gain Intimidate on their Brawl & Blast attacks
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;Intimidate: After this attack is resolved, you may advance one enemy unit adjacent to the target up to three spaces. That enemy unit cannot advance into a hazard space.
                        <br>
                        <div class="flavorText">
                            You try standing your ground when a skyscraper-sized pterodactyl levels a city block with the wind from its flapping wings. If you can survive the falling debris, that is.
                        </div>
                    </div>
                    
                    <h2 class="title">[Tier 2]</h2>
                    <div>
                        <h3>Evolutionary Dominance</h3>
                        All 2 cost units gain Penetrator
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;Penetrator: When resolving this attack, the target model suffers -1 DEF, to a minimum of 1.
                        <br>
                        <div class="flavorText">
                            Centuries of evolution and natural selection led to the emergence of dominant members within the ranks of the Radicals. What separates these individuals from their peers isn’t just their increased strength and ferocity, but the application of latent traits and confounding intelligence. The hardiest of adversaries find themselves overwhelmed by the sheer force and shrewd tactics employed by these apex predators.
                        </div>
                    </div>
                    
                    <h2 class="title">[Tier 3]</h2>
                    <div>
                        <h3>Oceanic Wrath</h3>
                        AAll monsters without Resilience and Armored gain Destructive Impulse
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;Destructive Impulse: If this model destroys one or more buildings or enemy units with an attack, immediately after the attack is resolved, this model can make a brawl attack. This model can make one attack generated by Destructive Impulse each turn.
                        <br>
                        <div class="flavorText">
                            Acting as the living embodiment of nature’s wrath, the destruction wrought by the titans of the Earth is unparalleled. The provocative actions of interlopers stir these monstrous entities into fits of blind rage; leaving barren cities and the mangled forms of the aggressors in their wake. However, it is this devastation which enables nature to reclaim what was once lost.
                        </div>
                    </div>    
                    <h2 class="title">Desperation Perks</h2>
                    <div>
                        <h3>From The Ashes</h3>
                        All monsters without Resilience and Armored gain Thick Skinned
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;Thick Skinned: This model is immune to hazards except when colliding with them.
                        <br>
                        <div class="flavorText">
                            Seemingly endless conflict has taken a toll on the forces of nature. Although fewer in numbers, the behemoths who survive each successive encounter have adapted to the insurmountable odds. The scars of many lost battles protect them against the hazards as they make their final stand against the horrors of the multiverse.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
