<app-top-nav></app-top-nav>

<div>
    <div>
        <h1 class="title">Invaders</h1>
    </div>
    <div>
        <div>
            Available Factions
            <br>
            Zerkalo Bloc
            <br>
            Martian Menace
            <br>
            Uber Corp International
            <br>
            Master of The 8th Dimension
            <br>
        </div>
        <div class="flavorText">
            What is a planet if not a source of resources? Good luck building a house without taking the wood, stone, or what-have-you from somewhere. It’s not the Invaders’ fault that the Earthlings--save for one enterprising megacorporation--failed to recognize the value of those resources. And they’re more than happy to take those extra minerals off these hapless humans’ hands.
        </div>
        <div>
            <h2 class="title">Global Perks</h2>
            <div>
                <h3>Mobile Assembly</h3>
                All allied Elite units gain Action: Asset Assembly
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;Action: Asset Assembly: During your Unit Activation, this model can spend one Action Die to perform an Asset Assembly action. Place an asset in play following its Build rule.
                <div class="flavorText">
                    Ubercorp International proudly presents Battlefield Assets! Through the power of corporate-backed infrastructuredevelopment, you[1] too can construct easy-to-build, mass-manufactured aids for the protection[2] of Earth!
                    <br>
                    [1]: authorized personnel only, restrictions apply
                    <br>
                    [2]: exploitation
                </div>
            </div>
            <div>
                <h3>Hacking The Grid</h3>
                During your monster turns, all buildings have the Electrical Node special rule
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;Electrical Node: If a mechanical monster destroys this model with a brawl attack, after the attack is resolved restore one point of health to the monster.
                <br>
                <div class="flavorText">
                    Utilizing intel acquired by UCI agents and advanced harvesting techniques employed by the Martian race, Invader forces have obtained unrestricted access to power grids native to all cities. Tearing down buildings with staggering efficiency, their machines of war are able to access vital access points and siphon power used to fuel their efforts.
                </div>
            </div>
            
            <h2 class="title">Territory Perks</h2>
            <div>
                <h2 class="title">[Tier 1]</h2>
                <div>
                    <h3>Quantum Zoning</h3>
                    All secured buildings gain Action: City Planning
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;Action: City Planning: During your Monster or Unit Activation, this model can spend one Action Die to perform an Urban Renewal action. Swap the position of a building you are securing with any unsecured building on the map.
                    <br>
                    <div class="flavorText">
                        Teleportation technologies employed by forces in this dimension are certainly wonders to behold; but are often limited to small-scale operations. However, through the arrival of the Zerkalo Bloc, machines that can tear the very fabric of reality and deliver entire forces across dimensions have been fully realized. Scientists and engineers of Invader forces have devised a means to employ this technology to the reallocation of entire buildings in any city. It is not uncommon to see the very cityscape awash with crackling blue light as buildings seemingly disappear and reappear in different locations.
                    </div>
                </div>
                
                <h2 class="title">[Tier 2]</h2>
                <div>
                    <h3>S-SAP Deployment</h3>
                    All 1-Cost units gain Feedback
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;Feedback: If this model is destroyed by an adjacent monster, you gain one Power Die. That monster's controller loses one Power Die.
                    <br>
                    <div class="flavorText">
                        Excelling in the field of disruption and subterfuge, UCI scientists developed a state-of-art piece of hardware known as the Search-Scan Appropriated Power module; otherwise known as S-SAP. Employed on assets deemed expendable by leadership, these forces navigate the battlefield and perform their standard duties. In the event that company-owned assets are destroyed, the S-SAP module will be deployed. Scanning the perimeter for any spikes in energy levels, the S-SAP module will immediately siphon and secure residual power through unknown methodologies. Depriving the competition of their bounty, fellow colleagues can retrieve the device and utilize the obtained energy to further realize the Invader’s objectives.
                    </div>
                </div>
                
                <h2 class="title">[Tier 3]</h2>
                <div>
                    <h3>Zone of control</h3>
                    After players have placed all available buildings, you may place up to 3 Assets on the board. Assets placed in this manner must be placed more than 6 spaces from the opposing player’s edge of the map. Placement of these assets must be placed according to their Build rules, except for restrictions that reference the model that performed an action. Additionally, no more than one of each type of Asset may be placed in this manner.
                    <br>
                    <div class="flavorText">
                        The puny Earthlings don’t understand how to hold territory. If you want to exercise a true zone of control, you have to have a decisive advantage over anyone who wants to take it from you. The corporate entity which aids our invasion efforts has kindly offered to provide infrastructure support in controlled territory that will not draw the attention of the occupied labor force.
                    </div>
                </div>    
                <h2 class="title">Desperation Perks</h2>
                <div>
                    <h3>Emergency Reclamation</h3>
                    All monsters gain Action: Recycle in both Alpha and Hyper Forms.
                    <br>
                    &nbsp;&nbsp;&nbsp;&nbsp;Action: Recycle: During your Monster or Unit Activation, this model can spend one Action Die to perform a Recycle action. Choose a unit within five spaces of this model. If it is your unit, return it to your unit reserves. If it is not, roll the Action Die spent for this action and three Boost Dice. If the result is equal to or greater than the unit's DEF, return it to your opponent's unit reserves. If this action returns a unit to the reserves, gain a number of Power Dice equal to its cost.
                    <br>
                    <div class="flavorText">
                        Any invading army must be able to subsist on the resources of the lands it conquers, and this is doubly true when cut off from reinforcements and supply lines. As their cargo bays empty, the pilots of the Invaders’ massive machines must find new ways to restock and refuel. By utilizing Martian tractor beams, they are able to absorb resources from incredible distances.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









