
<div class="pagecontent">
    <app-top-nav></app-top-nav>

    <div class="home">
        <div>
            <p>
                The first recorded incident of open conflict between allied forces was during the Siege of Singapore. G.U.A.R.D and Elemental Champion forces kept the relentless Gorghadra at bay for weeks alongside its ravenous swarms in a grinding war of attrition. Establishing chokepoints and magical wards to stave off the alien entities, victory seemed almost certain. However, the sudden emergence of Subterranean forces and the grotesque entity known as “Hammerklak'' quickly shattered the defenses of the city. Overwhelmed by Subterraean shock tactics in tandem with the ferocity of the Planet Eaters, Protector forces were quickly driven out of the city.
            </p>
        </div>

        <div>
            <p>
                During the subsequent evacuation, observers watched as countless alien parasites flooded the streets and smoke billowed from the earth below. To their surprise, the noxious gas caused the frenzying swarm to become seemingly lethargic, eventually ceasing all movement. In an act reminiscent of betrayal, the Subterrean monstrosity suddenly burst from the rubble of a collapsed skyscraper, quickly descending upon its former ally. Gorghadra was mercilessly dragged into a massive sinkhole as Hammerklak subdued the gargantuan alien with its snake-like form. The atmosphere was rife with the echoing howls of the alien behemoth as it was dragged into the depths below.
            </p>
        </div>

        <div>
            <p>
                Throughout the course of the Monsterpocalypse, various factions have emerged and joined in the fray; each with their own set of motives and goals. Factions such as the Legion of Mutates settled trade deals and endorsements to lend their aid to the planet’s defenders while the dimension traveling conquerors known as the Zerkalo Blok aligned themselves with invading forces with hopes of total conquest.
            </p>
        </div>

        <div>
            <p>
                Regardless of their initial alignment, time has now altered their stance. In the months following the Siege of Singapore, an increasing number of conflicts have sprung up within Protector and Destroyer forces. Entire battles initially projected to occur have dissipated as entire armies abandoned the effort or engaged in internal squabbles instead. Breaking points were soon met as entire factions broke ties with their former allies, seeking to instead align themselves with like minded individuals or fight on their own terms. With the Monsterpocalypse moving from a fast and brutal conflict to a war of attrition, the concept of “Protectors” and “Destroyers” became a concept of a bygone era.
            </p>
        </div>

        <div>
            <p>
                Gameplay
                Monsterpocalypse: Around The World focuses on players fighting for control over regions all around the globe. Taking control over a region grants players new abilities.  Unlike the standard Monsterpocalypse ruleset, Monsterpocalypse: Around The World does not utilize Agendas. Instead, models and their respective factions are divided up into groups known as Alliances. Currently, there are six unique Alliances available, which include:
            </p>
        </div>

        <div>
            <table>
                <tr>
                    <th><a routerLink="/paragons">Paragons</a></th>
                    <th><a routerLink="/radicals">Radicals</a></th>
                    <th><a routerLink="/collaborators">Collaborators</a></th>
                    <th><a routerLink="/invaders">Invaders</a></th>
                    <th><a routerLink="/devourers">Devourers</a></th>
                    <th><a routerLink="/fiends">Fiends</a></th>
                </tr>
                <tr>
                    <td>
                        <div>
                            <img class="factionLogo" src="{{GuardLogo}}" alt="G.U.A.R.D. Logo">
                            <img class="factionLogo" src="{{ECLogo}}" alt="Elemental Champions Logo">
                            <img class="factionLogo" src="{{DrakkenLogo}}" alt="Drakken Armada Logo">
                            <img class="factionLogo" src="{{FGLogo}}" alt="Frist Guardians Logo">
                        </div>
                    </td>
                    <td>
                        <div>
                            <img class="factionLogo" src="{{MunkeyLogo}}" alt="Empire of the Apes Logo">
                            <img class="factionLogo" src="{{DinoLogo}}" alt="Terrasaur Logo">
                            <img class="factionLogo" src="{{FishLogo}}" alt="Triton Logo">
                            <img class="factionLogo" src="{{VegeLogo}}" alt="Vegetyrants Logo">
                        </div>
                    </td>
                    <td>
                        <div>
                            <img class="factionLogo" src="{{SSSLogo}}" alt="Shadow Sun Syndicate Logo">
                            <img class="factionLogo" src="{{LegionLogo}}" alt="Legion of Mutates Logo">
                            <img class="factionLogo" src="{{EcoTerrorLogo}}" alt="Green Fury Logo">
                        </div>
                    </td>
                    <td>
                        <div>
                            <img class="factionLogo" src="{{UCILogo}}" alt="Uber Corp International Logo">
                            <img class="factionLogo" src="{{MartianLogo}}" alt="Martian Menace Logo">
                            <img class="factionLogo" src="{{CommieLogo}}" alt="Zerkalo Bloc Logo">
                            <img class="factionLogo" src="{{M8DLogo}}" alt="Masters of the 8th Dimension Logo">
                        </div>
                    </td>
                    <td>
                        <div>
                            <img class="factionLogo" src="{{PELogo}}" alt="Planet Eaters Logo">
                            <img class="factionLogo" src="{{NecroLogo}}" alt="Necroscourge Logo">
                            <img class="factionLogo" src="{{BugLogo}}" alt="Savage Swarm Logo">
                            <img class="factionLogo" src="{{WasteLogo}}" alt="Waste Logo">
                        </div>
                    </td>
                    <td>
                        <div>
                            <img class="factionLogo" src="{{CthulLogo}}" alt="Lords of Cthul Logo">
                            <img class="factionLogo" src="{{MoleLogo}}" alt="Mole Logo">
                            <img class="factionLogo" src="{{AOLogo}}" alt="Ancient Ones">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
